<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings>
    <add name="Log4netServiceBusConnection"
         connectionString="Endpoint=sb://sekhmet-log4net-servicebus.servicebus.windows.net/;SharedAccessKeyName=writer;SharedAccessKey=YUtrUT4dDOBX+SNn5Fehgih5xeUIiwFyh8YK1z1gC4E=" />
  </connectionStrings>

  <log4net debug="false">
    <appender name="EventLogAppender"
              type="log4net.appender.eventlogappender">
      <applicationname value="Sekhmet.Log4net.Azure.ServiceBus.TestApplication" />
      <layout type="log4net.layout.patternlayout">
        <conversionpattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="ColoredConsoleAppender"
              type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <backColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="AzureServiceBus-Logging-Appender"
              type="Sekhmet.Log4net.Azure.ServiceBus.ServiceBusAppender,Sekhmet.Log4net.Azure.ServiceBus">
      <ConnectionStringKey value="Log4netServiceBusConnection" />
      <MessagingEntity value="log" />
      <ApplicationName value="Sekhmet.Log4net.Azure.ServiceBus.TestApplication" />
      <EventType value="LoggingEvent" />
      <CorrelationIdPropertyName value="CorrelationId" />
      <Synchronous value="false" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="AzureServiceBus-Audit-Appender"
              type="Sekhmet.Log4net.Azure.ServiceBus.ServiceBusAppender,Sekhmet.Log4net.Azure.ServiceBus">
      <ConnectionStringKey value="Log4netServiceBusConnection" />
      <MessagingEntity value="log" />
      <ApplicationName value="Sekhmet.Log4net.Azure.ServiceBus.TestApplication" />
      <EventType value="AuditEvent" />
      <Synchronous value="true" />
      <CorrelationIdPropertyName value="CorrelationId" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
    <logger name="GlobalLogger"
            additivity="false">
      <level value="ALL" />
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="AzureServiceBus-Logging-Appender" />
    </logger>
    <logger name="AuditLogger"
            additivity="false">
      <level value="ALL" />
      <appender-ref ref="AzureServiceBus-Audit-Appender" />
    </logger>

  </log4net>

</configuration>